# General
.DS_Store
.AppleDouble
.LSOverride

# IDEs
.vscode/
.idea/
*.swp
*.swo

# MongoDB
*.bson
*.json
mongod.lock
.dbshell
dump/
data/db/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media